<header id="header">
        <div class="header-push">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class=".embed-responsive-item" src="https://sketchfab.com/models/0c467996babb49a89ad0b7af5e0a4150/embed?autostart=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
            <div id="semi-transparent"></div>
            <div class="button" id="explore-button">
                    <a href="#" class="btn btn-primary btn-xl" id="explore">Explore in 3D</a>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll" id="learn-more">Learn More</a>
            </div>
        </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SANIGHTAAQ</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</header>
