<section id="shelf-life">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Shelf Life</h2>
                <br>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6 text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IZuYhwozw9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 text-center"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rInUt3rJ3AE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>
    </div>
</section>